@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body{
    font-family: Arial serif;
    line-height: 3;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #fff;
    border-radius: 5.4px;
    padding-top: 12.6px;
    padding-bottom: 12.6px;
    padding-left: 27px;
    padding-right: 27px;
}
a:hover{
    color: #eee;
}

i{
    padding-right: 5.40px;
}
a.green{
    background-color: green;
}
a.orange{
    background-color: orange;
}