header{
    background-color: #f2dcbb;
    padding: 15px;
    width: 480px;
}
main{
    padding: 5px;
    width: 480px;
}
body{
    background-color: #f9f7cf;
}
footer{
    background-color: #f2dcbb;
    padding: 15px;
    width: 480px;
}