*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    background-color: #eee;
    display: flex;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.gallery ul{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery li{
    display: flex;
    padding: 1em;
    list-style: none outside;
    border:8px solid #000;
    flex: 0 0 350px;
    box-shadow: 
        0 0 2em 0 rgba(0, 0, 0, 0.7),
        0 0 0.5em 0 rgba(0, 0, 0, 0.7)
    ;
    align-items: center;
}