*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.listing{
    width: 50em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 1em;
}

.listing:before,
.listing::after{
    display: block;
    content: '';
    flex: 0 0 200px;
    order: 9999;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    overflow: hidden;
    background: white;
    border-radius: 0.4em;
    border: 1px solid #CCC;
    color: #000;
    text-decoration: none;
}

.card .media{
    margin-bottom: 0.5em;
}

.card .title{
    font-weight: bold;
    padding: 0.5em 1em;
}

.card .content{
    padding: 0.5em 1em;
}

.card .footer{
    border-top: 1px solid black;
    margin-top: auto;
    padding: 1.5em 1em 1.5em 1em;
}