* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 600px;
    padding: 2em;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2em;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }
}

body > header,
body > footer{
    flex: 1 0 80%;
}

body > main{
    flex: 1 1 auto;
}

body > aside{
    flex: 1 0 60%;
}

.site-header, .site-main, .site-aside, .site-footer{
    background-color: lightblue;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.4em;
    padding: 2em;
}

.site-header{
    display: flex;
    vertical-align: center;
}

.site-header p{
    font-size: 30px;
    font-weight: bold;
}

.site-main ul{
    list-style: none;   
}

.site-aside p {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.site-main li a{
    text-decoration: none;
}